Repository pacomedomagni/labs: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

.azuredevops/pipelines/api-pipeline.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.BuildId)
  stages:
  - template: .azuredevops/pipelines/build.yml@templates
    parameters:
      id: default
      state: api-variables.json
      type: container
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

.azuredevops/pipelines/ui-pipeline.yml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.BuildId)
  stages:
  - template: .azuredevops/pipelines/build.yml@templates
    parameters:
      id: default
      state: ui-variables.json
      type: container
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
  ...

okay
  README.md
Due: none

awesome
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
  tmx-labs-app-ui/src/app/shared/components/dialogs/date-time-editor/date-time-editor.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-ui/src/app/shared/components/dialogs/date-time-editor/date-time-editor.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.scss
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.scss
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

fix: remove DOM event dispatch that caused Date is required on launch
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

fix: OK button disabled by default + stable error layout
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.scss
  tmx-labs-app-ui/src/app/shared/components/dialogs/form-dialog/form-dialog.component.html
Due: .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

hum
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.scss
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/components/exclude-trips-form/exclude-trips-form.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

pending fulfillment
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/Fulfillment/FulfillmentController.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/DeviceOrder.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceOrderDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceOrder/PendingOrderSummaryRow.cs
  tmx-labs-app-ui/src/app/fulfillment/components/pending-orders/pending-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/pending-orders/pending-orders.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/pending-orders/pending-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
  tmx-labs-app-ui/src/app/shared/data/fulfillment/resources.ts
  tmx-labs-app-ui/src/app/shared/services/api/fulfillment/fulfillment.services.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceOrderDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceOrder/PendingOrderSummaryRow.cs
Due: .azuredevops/pipelines/api-pipeline.yml

okay
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-ui/src/app/fulfillment/components/pending-orders/pending-orders.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/pending-orders/pending-orders.component.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

complete
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/Fulfillment/FulfillmentController.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedDeviceOrder.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedOrdersList.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
  tmx-labs-app-ui/src/app/shared/data/fulfillment/resources.ts
  tmx-labs-app-ui/src/app/shared/services/api/fulfillment/fulfillment.services.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

here
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/Fulfillment/FulfillmentController.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedDeviceOrder.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedOrdersList.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
  tmx-labs-app-ui/src/app/shared/data/fulfillment/resources.ts
  tmx-labs-app-ui/src/app/shared/services/api/fulfillment/fulfillment.services.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceOrderDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceOrder/CompletedOrderRow.cs
Due: .azuredevops/pipelines/api-pipeline.yml

awesome
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/Fulfillment/FulfillmentController.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceOrderDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceOrder/CompletedOrderRow.cs
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
  tmx-labs-app-ui/src/app/shared/services/api/fulfillment/fulfillment.services.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  README.md
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/Fulfillment/FulfillmentController.cs
  tmx-labs-app-api/source/Telematics.Labs.Api/appsettings.json
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedDeviceOrder.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/CompletedOrdersList.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/FulFillment/LabelPrinter.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/LabelPrinterDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Shared/LoggingEvents.cs
  tmx-labs-app-api/source/Telematics.Labs.Shared/Telematics.Labs.Shared.csproj
  tmx-labs-app-ui/package-lock.json
  tmx-labs-app-ui/package.json
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/completed-orders/completed-orders.component.ts
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/printer-info.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/printer-info.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/printer-info.component.ts
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/set-printer-dialog/set-printer-form.component.html
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/set-printer-dialog/set-printer-form.component.scss
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/set-printer-dialog/set-printer-form.component.spec.ts
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/set-printer-dialog/set-printer-form.component.ts
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.html
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.scss
  tmx-labs-app-ui/src/app/fulfillment/fulfillment.component.ts
  tmx-labs-app-ui/src/app/shared/data/fulfillment/resources.ts
  tmx-labs-app-ui/src/app/shared/services/api/fulfillment/fulfillment.services.ts
  tmx-labs-app-ui/src/app/shared/services/api/labelprinter/labelprinter.service.spec.ts
  tmx-labs-app-ui/src/app/shared/services/api/labelprinter/labelprinter.service.ts
  tmx-labs-app-ui/src/styles.scss
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

okay hope
  tmx-labs-app-ui/src/app/app.routes.ts
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.scss
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.spec.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/data/application/application-groups.model.ts
  tmx-labs-app-ui/src/app/shared/data/application/applications-metadata.ts
  tmx-labs-app-ui/src/app/shared/data/application/resources.ts
  tmx-labs-app-ui/src/app/shared/metadata/tools-metadata.ts
  tmx-labs-app-ui/src/app/shared/services/user-info/user-info.service.spec.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test-metadata.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.html
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.scss
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/options/common-options.component.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/options/date-time-options.component.ts
  tmx-labs-app-ui/src/app/tools/tools-applications-metadata.ts
  tmx-labs-app-ui/src/app/tools/tools.component.html
  tmx-labs-app-ui/src/app/tools/tools.component.scss
  tmx-labs-app-ui/src/app/tools/tools.component.ts
  tmx-labs-app-ui/src/app/tools/user-info-editor/user-info-editor-metadata.ts
  tmx-labs-app-ui/src/app/tools/user-info-editor/user-info-editor.component.html
  tmx-labs-app-ui/src/app/tools/user-info-editor/user-info-editor.component.scss
  tmx-labs-app-ui/src/app/tools/user-info-editor/user-info-editor.component.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

okay
  tmx-labs-app-ui/src/app/app.routes.ts
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.scss
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.html
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.scss
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.spec.ts
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/data/application/application-groups.model.ts
  tmx-labs-app-ui/src/app/shared/data/application/applications-metadata.ts
  tmx-labs-app-ui/src/app/shared/data/application/resources.ts
  tmx-labs-app-ui/src/app/shared/metadata/role-testing-metadata.ts
  tmx-labs-app-ui/src/app/shared/services/user-info/user-info.service.spec.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test-metadata.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.html
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.scss
  tmx-labs-app-ui/src/app/tools/input-control-test/input-control-test.component.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/options/common-options.component.ts
  tmx-labs-app-ui/src/app/tools/input-control-test/options/date-time-options.component.ts
  tmx-labs-app-ui/src/app/tools/tools-applications-metadata.ts
  tmx-labs-app-ui/src/app/tools/tools.component.html
  tmx-labs-app-ui/src/app/tools/tools.component.scss
  tmx-labs-app-ui/src/app/tools/tools.component.ts
  tmx-labs-app-ui/src/app/tools/user-info-editor/user-info-editor-metadata.ts
Due: .azuredevops/pipelines/ui-pipeline.yml

foundation
  tmx-labs-app-api/source/Telematics.Labs.Api/Controllers/SupportService/RolesController.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Resources/Resources/Shared/UserInfo.cs
  tmx-labs-app-api/source/Telematics.Labs.Shared/Constants.cs
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.html
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/participant-details/components/exclude-trips/exclude-trips.component.scss
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/metadata.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/activate-de-activate/metadata.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/device-staging-hub-metadata.ts
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.html
  tmx-labs-app-ui/src/app/role-testing/role-testing.component.ts
  tmx-labs-app-ui/src/app/shared/components/form-controls/date-time-control/date-time-control.component.html
  tmx-labs-app-ui/src/app/shared/data/application/resources.ts
  tmx-labs-app-ui/src/app/shared/metadata/device-metadata.ts
  tmx-labs-app-ui/src/app/shared/services/user-info/user-info.service.spec.ts
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

okay
  One.png
  three.png
  tmx-labs-app-api/source/Telematics.Labs.Business.Tests/DevicePrep/BenchTestOrchestratorTests.cs
  tmx-labs-app-api/source/Telematics.Labs.Business.Tests/TestBase.cs
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/DevicePrep/BenchTestOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceActivityDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceBulkOperationModels.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/XirgoDeviceDAL.cs
  tmx-labs-app-ui/package-lock.json
  tmx-labs-app-ui/src/app/customer-service/enrollment-details/enrollment-details.component.ts
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/components/lot-benchtest-progress/lot-benchtest-progress.component.html
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/components/lot-benchtest-progress/lot-benchtest-progress.component.ts
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/components/lot-benchtest-progress/services/lot-benchtest-progress-calculation.service.spec.ts
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/components/lot-benchtest-progress/services/lot-benchtest-progress-calculation.service.ts
  tmx-labs-app-ui/src/app/device-prep/bench-test-hub/metadata.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/activate-de-activate/metadata.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/device-staging-hub-metadata.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/search/components/device-details/device-details.component.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/search/components/lot-details/lot-details.component.ts
  tmx-labs-app-ui/src/app/device-prep/device-staging-hub/search/services/device-lot-state.service.ts
  tmx-labs-app-ui/src/app/fulfillment/components/printer-info/printer-info.component.ts
  two.png
  xirgo version detail.png
  xirgoDevice 1.png
  xirgoDevice 2.png
Due: .azuredevops/pipelines/api-pipeline.yml, .azuredevops/pipelines/ui-pipeline.yml

awesome
  tmx-labs-app-api/source/Telematics.Labs.Business/Orchestrators/Fulfillment/DeviceFulfillmentOrchestrator.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/DeviceOrderDAL.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Models/DeviceOrder/FulfillmentOrderDataModel.cs
  tmx-labs-app-api/source/Telematics.Labs.Services/Database/Scripts/usp_FulfillmentOrder_SelectByStatus.sql
Due: .azuredevops/pipelines/api-pipeline.yml

Path conditions:
  .azuredevops/pipelines/api-pipeline.yml: any of: tmx-labs-app-api, but not: **/*.md
  .azuredevops/pipelines/ui-pipeline.yml: any of: tmx-labs-app-ui, but not: **/*.md
